@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium.ttf');
}

.label {
    -fx-font-family: 'Roboto';
    -fx-font-size: 15;
}

.button .text {
    -fx-font-family: 'Roboto';
    -fx-font-size: 15;
}

.root {
    -fx-background-image: url("images/Bender_Rodriguez.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: bottom right;
    -fx-background-size: 150 auto;
}